<mat-toolbar color="primary">
    <span>
        <a routerLink="/">Louis's Photo Journal</a>
    </span>
    <span class="spacer"></span>

    <ul>
        <li>
            <a mat-button routerLink="/gallery" routerLinkActive="mat-accent">Gallery</a>
        </li>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
        </li>
        <li>
            <a mat-button routerLink="/createphoto" routerLinkActive="mat-accent">CreatePhoto</a>
        </li>
        <li>
            <a mat-button routerLink="/list" routerLinkActive="mat-accent">List</a>
        </li>
    </ul>
</mat-toolbar>