<mat-toolbar color="primary" *ngIf="router!=='/'">
    <span>
        <a routerLink="/">Louis's Photo Journal</a>
    </span>
    <span class="spacer"></span>

    <ul>
        <li>
            <a mat-button routerLink="/gallery" routerLinkActive="mat-accent">Gallery</a>
        </li>
        <li>
            <a mat-button routerLink="/createphoto" routerLinkActive="mat-accent">CreatePhoto</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
    </ul>
</mat-toolbar>