mat-card {
    width:60%;
    max-width:800px;
    min-width:300px;
    margin:0px auto;
}

mat-form-field,
{
    display: block;
}
.flex-container{
    display:flex;
}
.flex-spacer {
    flex-grow: 1;
}
button{
    margin: 0 10px;
}
mat-spinner {
    margin: auto;
}

.flex{
    height:100vh;
    display:flex;
    flex-direction: column;
}

.spacer2 {
    flex: 2 1 auto;
}

.spacer1 {
    flex: 1 1 auto;
}
