<div mat-dialog-content>
    <mat-card>
        <img class="dialog-img" src={{convertUrl(photo.url)}} />
        <div class="flex-container">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{photo.caption}}</mat-card-title>
                <mat-card-subtitle>{{photo.location}}</mat-card-subtitle>
            </mat-card-header>
            <div class="flex-spacer"> </div>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="isAuth" (click)="onCloseClick()" [routerLink]="['/edit', photo.id]">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item *ngIf="isAuth" (click)="onDeleteClick(photo.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
                <button mat-menu-item (click)="onCloseClick()">
                    <mat-icon>close</mat-icon>
                    <span>Close</span>
                </button>
            </mat-menu>
        </div>
    </mat-card>
</div>