<div mat-dialog-content>
    <mat-card>
        <img class="dialog-img" src={{convertUrl(photo.url)}} />
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{photo.caption}}</mat-card-title>
            <mat-card-subtitle>{{photo.location}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <div mat-dialog-actions>
        <a mat-button (click)="onCloseClick()" [routerLink]="['/edit', photo.id]">Edit</a>
        <button mat-button (click)="onDeleteClick(photo.id)">Delete</button>
        <button mat-button (click)="onCloseClick()">Close</button>
    </div>

</div>