.dialog-img {
  width:100%;
  padding-bottom: 20px;
}

.mat-dialog-content{
  max-height: 100%;
  overflow: initial;
}
.flex-container{
  display:flex;
}
.flex-spacer {
  flex-grow: 1;
}
mat-card{
  margin-bottom: 20px;
}