:host {
    display: block;
} 

.img-container {
  overflow: hidden;
}

.img {
  width:100%;
  min-height:100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
}

.img:hover {
  box-shadow: lightgray 5px 5px 10px;
  cursor: pointer;
}

.dialog-img {
  width:100%;

}

mat-expansion-panel{
  margin: 0px 15px 20px 0px;
  overflow: hidden;
}

.panel-title mat-icon, p {
  align-self: center;
  margin: 0px 5px;
}

.flex{
  display:flex; 
  flex-direction: row;
  align-items: baseline;
}

.spacer {
  flex: 1 1 auto;
}

mat-spinner {
  margin: auto;
}

