/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

/* .cdk-overlay-container {
  overflow: scroll;
} */
.main{
  max-width: 1300px;
  min-width: 600px;
  width:80%;
  margin: 0 auto;
}

.mat-dialog-container{

  height: auto !important;
}
